/* _______________ CSS 초기화 / 전역선택자 _______________  */
* { margin: 0; padding: 0; }
html,body { width: 100vw; height: 100vh; }
body { 
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #000; color: #f7f8f9;
  overflow: hidden;
}
a { text-decoration: none; color: #f7f8f9; border: 0;}
.title { font-family: 'DM Serif Display', serif; font-weight: 400;}
.wrap { width: 100%; max-width: 1180px; margin: 0 auto; }
.hidden { display: none; }
/* _______________ FULL PAGE SETTING _______________  */
.full_page {
  width: 100vw; height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* _______________ HEADER _______________  */
.header {
  width: 100vw; height: 60px;
  position: fixed;
  top: 0; left: 0;
  z-index: 999;
}
.header_txt {
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
/* _______________ INTRO _______________  */
#intro h1 { font-size: 80px; text-align: center;}
#intro {
  background-color: #fff;
  background-image: url(../images/intro_gird1_1.png);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: black;
  animation: intro_ani 6s;
  animation-fill-mode: forwards;
}
@keyframes intro_ani {
  0% { background-color: #fff; background-image: url(../images/intro_gird1_1.png); color:#000;}
  100% { background-color: #000; background-image: url(../images/intro_gird1.png); color: #fff; }
}

/* _______________ BUILDING SECTION _______________  */

.full_page .building_img {
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.building_img .building_txt h2 {
  font-size: 24px;
  margin-bottom: 10px;
  display: none;
}
.building_img .building_txt p {
  font-size: 12px;
  opacity: 0;
}
.building_img .bt_view {
  font-size: 14px;
  padding: 8px 25px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0;
}

.building_img2 { display: none;}

/* __________ PAGE __________ */
#page01 .building_txt,#page03 .building_txt {
  margin-top: 150px;
  text-align: center;
}
#page02 .bt_view,#page04 .bt_view {
  margin-bottom: 50px;
}
#page02 .building_img, #page04 .building_img {
  justify-content: end;
  text-align: center;
}

/* _______________ IDEOLOGY SECTION _______________  */
.ideology div {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ideology div p:nth-child(2n) {
  position: relative;
  right: -100vw;
}
.ideology div p:not(:nth-child(2n)) {
  position: relative;
  left: -100vw;
}
.ideology p {
  font-size: 32px;
  text-align: center;
}
.ideology {
  width: 100vw; height: 100vh;
  position: relative;
  z-index: 1;
  top: 0; left: 0;
}
.ideology .page_intro {
  width: 100%; height: 50vh;
  position: absolute;
  top: 25vh; left: 0;
  background-color: #000;
}
.ideology .page_infor {
  width: 100vw; height: 100vh;
  text-align: center;
  display: none;
}
.ideology h2 {
  font-size: 32px;
  margin: 50vh 0 50px;
  display: none;
}
.ideology h4 {
  width: 300px;
  font-weight: 400;
  margin: 20px auto;
  display: none;
}
/* __________ PAGE 05 __________ */
#page05 .grid_img {
  background-image: url(../images/white1.jpg);
  animation: white_ani 15s infinite;
}

/* __________ PAGE 06 __________ */
#page06 .page_infor{
  height: 80vh;
  margin-top: 20vh;
}
#page06 h2 { margin-top: 0;}


/* __________ PAGE 05,7 __________ */
#page05 .page_infor, #page07 .page_infor {
  height: 100vh;
}
#page07 .grid_img{
  background-image: url(../images/bg_grid_mibile.jpg);
}
#page05 .grid_img,#page07 .grid_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw; height: 100vh;
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
}
#page05 .page_infor .grit_txt,#page07 .page_infor .grit_txt {
  width: 90vw; height: 50vh;
  margin: 30vh auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
#page05 .page_infor h2,#page07 .page_infor h2 {
  margin-top: 0;
}
#page07 .page_infor h2 {
  display: block;
  opacity: 0;
}
#page07 .page_infor h4 {
  display: block;
  opacity: 0;
}
/* __________ PAGE 08 __________ */
#page08 {
  display: block;
  position: relative;
}
#page08 .meier { overflow: hidden;}
#page08 .meier_infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#page08 img {
  width: 100%;
  margin-top: 100px;
  display: none;
}
#page08 .meier_infor {
  height: 45vh;
}

#page08 ul:first-child { margin: 50px 0;}
#page08 ul li {
  text-align: left;
  font-size: 14px;
  list-style: none;
}
#page08 ul li:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#page08 ul { 
  width: 90vw;
  text-indent: 20px;
  opacity: 0;
}
#page08 .profile {
  margin-bottom: 20px;
}

.top_bt a{
  display: block;
  padding: 10px;
  position: absolute;
  bottom: 20px; right: 20px;
}
.top_bt a img {
  width: 50px; height: 50px;
  margin-top: 0;
  display: none;
}
@media all and (min-width:320px) and (max-width:600px) {
  /* _____ BG IMG _____ */
  #page03,#page04 { overflow: hidden;}
  #page01 .building_img { background-image: url(../images/jubilee_mobile.jpg); }
  #page02 .building_img { background-image: url(../images/getty_mobile.jpg); }
  #page03 .building_img { background-image: url(../images/high_mobile.jpg); }
  #page04 .building_img { background-image: url(../images/oxford_mobile.jpg); } 

  
  @keyframes white_ani {
    0% {background-image: url(../images/white1.jpg);}
    10% {background-image: url(../images/white2.jpg);}
    40% {background-image: url(../images/white2.jpg);}
    50% {background-image: url(../images/getty1.jpg);}
    80% {background-image: url(../images/getty1.jpg);}
    90% {background-image: url(../images/white1.jpg);}
    100% {background-image: url(../images/white1.jpg);}
  }

  #page08 .title { display: none;}

}
@media all and (min-width:601px) and (max-width:768px) {
  .building_img .building_txt h2 {
    font-size: 42px;
  }
  .building_img .building_txt p { font-size: 16px; }
  .building_img .bt_view { font-size: 16px;}
  .full_page .building_img2 {
    display: block;
    height: 40vh;
  }
  .full_page .building_img2 img {
    height: 100%; width: auto;
  }
  .full_page .building_img {
    justify-content: center;
  }
  .ideology div p { font-size: 72px;}
  #page02 .building_txt,#page04 .building_txt {
    margin-top: 150px;
    text-align: center;
  }
  #page02 .building_img, #page04 .building_img {
    justify-content: center;
  }
  .full_page .building_txt {
    width: 80vw; height: 14vh;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    padding: 50px 0;
  }
  .bt_view_txt { font-size: 20px; }
  .building_txt>p:last-child { margin-bottom: 30px;}
  .building_img .bt_view {
    width: 150px;
    margin: 30px auto 0;
    border: 1px solid #fafafa;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    
  }

  #page05 .grid_img {
    background-image: url(../images/white_color2.png);
  }

  .ideology h2 { font-size: 60px;}
  .ideology h4 {
    width: 50vw;
    font-size: 18px;
  }
  #page05 .page_infor .grit_txt,#page07 .page_infor .grit_txt {
    width: 75vw; height: 40vh;
  }
  #page08 .meier { margin-top: 10vh auto 0;}
  #page08 .title { font-size: 60px; display: none;}
  #page08 ul { width: 460px; margin: 50px auto; }
  #page08 ul li { font-size: 18px;}
  #page08 ul li:first-child { font-size: 24px;}
  #page08 .meier_infor {
    height: 50vh;    
  }
}